
@{
    ViewData["Title"] = "GetPersonbyId";
}
@model Person

<h1>Display Person</h1>

<table class="table align-items-xl-center">
    <tr>
        <td>Name</td>
        <td>Height</td>
        <td>Mass</td>
        <td>Hair Color</td>
        <td>Skin Color</td>
        <td>Eye Color</td>
        <td>Birth Year</td>
        <td>Gender</td>

    </tr>

<tr>
    <td>@Model.name</td>
    <td>@Model.height</td>
    <td>@Model.mass</td>
    <td>@Model.hair_color</td>
    <td>@Model.skin_color</td>
    <td>@Model.eye_color</td>
    <td>@Model.birth_year</td>
    <td>@Model.gender</td>

</tr>
    
</table>


